---
title: Wallyworks
---

<article class="copy">
	<%= image_tag "data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=", :class => "banner", :datasrc => "/images/Crew_01.jpg" %>
	<h1>We love living here</h1>

	<p>We are happy to be a part of maintaining and enhancing Port Townsend’s small-town character. We like to build within a three-mile radius to foster local community and conserve resources.</p>

	<p>We are looking for projects that are beautiful and help meet our community’s need for shelter that is energy-efficient, sensible and comfortable.</p>
	
	<p>We maintain positive relationships with the Building Department, designers and architects and subcontractors to make your project a success. Good planning and frequent communication keeps all players informed and productive.</p>
</article>
